PKG_CHECK_MODULES(%%LCLIBNAME%%, [%%PKGNAME%% >= %%PKGVERSION%%], [
	CPPFLAGS="$CPPFLAGS $%%LCLIBNAME%%_CFLAGS"
	LIBS="$LIBS $%%LCLIBNAME%%_LIBS"
], [
	AC_MSG_ERROR(You need %%PKGNAME%% >= %%PKGVERSION%% installed!)
])