AC_ARG_WITH(%%LCDEPNAME%%, AS_HELP_STRING([--with-%%LCDEPNAME%%=PREFIX],
	[build with %%DEPNAME%% in the specified prefix]))
AS_IF([test x"$with_%%LCDEPNAME%%" != x"no" -a x"$with_%%LCDEPNAME%%" != x""], [
       %%LIBNAME%%_CPPFLAGS="$%%LIBNAME%%_CPPFLAGS -I$with_%%LCDEPNAME%%/include"
       %%LIBNAME%%_LIBS="$%%LIBNAME%%_LIBS -L$with_%%LCDEPNAME%%/lib"
       CPPFLAGS="-I$with_%%LCDEPNAME%%/include $CPPFLAGS"
       LIBS="-L$with_%%LCDEPNAME%%/lib $LIBS"
       FRAMEWORK_LIBS="-L$with_%%LCDEPNAME%%/lib $FRAMEWORK_LIBS"
])